URL=https://api.poiskkino.dev/
KEY=
# данные для test_buttons_free
BASE_URL=https://www.kinopoisk.ru/
FILM_NAME=Я
OCB=//a[contains(text(), 'Онлайн-кинотеатр')]
ICS=[class="Text_root__wzi4q Text_root_size_body__X3h_p Text_root_weight_bold__CZEHp Text_root_spacing_headline__ggyMo Text_root_theme_family__7qbrx styles_text__Xkd_R"]
FIND_B=[data-test-id="SubscriptionPurchaseButton"]
BTN_KM=[class="ya_5197c563 ya_7e5621e5 AuthPromo-link"]
EXP_URL=https://yandex.ru/id/about
# данные для test_get_trailer_to_buy
SH_BTN=[href="https://hd.kinopoisk.ru/buy"]
PRESS_F=[class="RouterLink_root__Buwo6 FilmPromoBlock_link__gHBOZ"]
CH_TRAILER=[name="Trailer"]
BTN_TXT=[class="style_button__Awsrq styles_button__07VcY style_buttonSize60__nNei0 style_buttonPrimary__Qn_9l style_buttonDark__pBW5l"]
# данные для test_get_top_soap
SOAP_BTN=(//span[@class='styles_title__Jmj_H'])[5]
BEST_SOAP=(//span[contains(text(),'250 лучших сериалов')])[1]
COOSE_ONLINE=(//span[contains(text(),'Онлайн')])[1]
TXT_BEST_SER=[class=styles_title__9HPZ9]
# данные для test_neg_test_search
F_NAME=this is not a film name this is an ERROR name
ERROR_ELEMENT=[class="textorangebig"]
BTN_ENTER=[type="submit"]
# данные для test_search_actor
ACTOR_NAME=Константин Хабенский
INPUT_NAME=[name="kp_query"]
ELEMENT=[class="search_results_top"]
CHECK_NAME=[title="Константин Хабенский"]